/* line 1, ../sass/style.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 5, ../sass/style.scss */
body {
  font-weight: 300;
  margin-bottom: 60px;
}

/* line 10, ../sass/style.scss */
p {
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 1.6em;
  font-size: 20px;
}

/* line 19, ../sass/style.scss */
.splash {
  height: 35em;
  padding-top: 9em;
  margin-bottom: 2em;
  background-image: url("http://lifesweeper.me/tweed.png");
  background-repeat: repeat;
  color: #fff;
  text-align: center;
}

/* line 29, ../sass/style.scss */
.navbar-default {
  position: absolute;
  background-color: transparent;
}
/* line 32, ../sass/style.scss */
.navbar-default img {
  width: 30%;
}

/* line 38, ../sass/style.scss */
.navbar-default .navbar-brand {
  font-size: 20px;
}

/* line 42, ../sass/style.scss */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  font-weight: 400;
}

/* line 47, ../sass/style.scss */
.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
}

/* line 51, ../sass/style.scss */
.btn {
  font-size: 20px;
}

/* line 55, ../sass/style.scss */
.fa {
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
/* line 63, ../sass/style.scss */
.navbar-default .navbar-text {
  color: #000000;
}

/* line 66, ../sass/style.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000000;
}
