/* line 2, ../sass/style.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 6, ../sass/style.scss */
body {
  font-weight: 300;
  margin-bottom: 60px;
}

/* line 11, ../sass/style.scss */
p {
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 1.6em;
  font-size: 20px;
}

/* line 20, ../sass/style.scss */
.splash {
  height: 35em;
  padding-top: 9em;
  margin-bottom: 2em;
  background-image: url("/images/tweed.png");
  background-repeat: repeat;
  color: #fff;
  text-align: center;
}

/* line 30, ../sass/style.scss */
.navbar-default {
  position: absolute;
  background-color: transparent;
}
/* line 33, ../sass/style.scss */
.navbar-default img {
  width: 30%;
}

/* line 39, ../sass/style.scss */
.navbar-default .navbar-brand {
  font-size: 20px;
}

/* line 43, ../sass/style.scss */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  font-weight: 400;
}

/* line 48, ../sass/style.scss */
.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
}

/* line 52, ../sass/style.scss */
.btn {
  font-size: 20px;
}

/* line 56, ../sass/style.scss */
.fa {
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
/* line 64, ../sass/style.scss */
.navbar-default .navbar-text {
  color: #000000;
}

/* line 67, ../sass/style.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000000;
}

/* line 76, ../sass/style.scss */
.navbar-toggle {
  opacity: 0.25;
}
/* line 77, ../sass/style.scss */
.navbar-toggle ul {
  background: white;
}
